@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-risk-low: #22c55e;
  --color-risk-medium: #f59e0b;
  --color-risk-high: #f97316;
  --color-risk-critical: #ef4444;
}

html, body, #root {
  height: 100%;
}
